:root {
    --background-color: floralwhite;
    --secondary-main-color: #4ea69b;

    --color-primary: rgb(156, 85, 24);
    --color-secondary: whitesmoke; 

    --form-outline: lightblue;
}
/* Default styles */
* {
margin: 0;
padding: 0;
box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 100%;
}
body {
    background-color: var(--background-color);
    color: var(--color-primary);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    font-size: 62.5%;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.burger:hover {
    cursor: pointer;
}
.burger div {
    height: 3px;
    width: 25px;
    margin: 5px;
    background-color: var(--color-secondary);
}
a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
}
ul {
    list-style-type: none;
}
img {
    display: block;
}
/* Default js styles */
.site-header {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    color: var(--color-secondary);
    font-size: 1.3rem;
}

.header-subscribe {
    padding: .5rem 0;
}
.header-subscribe input {
    padding: .3rem .2rem;
    margin-right: .3rem;
    font-weight: 100;
}
input:focus-visible {
    outline: 2px solid var(--form-outline);
}
input:visited {
    color: inherit;
}
.header-subscribe button {
    font-size: 1rem;
    padding: .3rem .2rem;
    border: none;
    background-color: #4ea671;
    color: inherit;
}
.header-subscribe button:hover {
    cursor: pointer;
}
.site-nav {
    width: 100%;
    background-color: var(--secondary-main-color);
    justify-content: space-around;
    align-items: center;
    padding: .6rem 0;
    /* position: relative; */
}
.nav-active {
    transform: translateX(0%);
}
/* Start of home page styles */
.home-banner {
    background: url('./images/breadcrudbg.jpg')center center/cover no-repeat;
    height: 25rem;
    margin-bottom: 1.6rem;
}
.newButton {
    justify-content: center;
    align-items: center;
    margin-bottom: 1.6rem;
}
.newButton a {
    transition: all 200ms ease;
    color: whitesmoke;
}
.newButton a:hover {
    cursor: pointer;
    background-color: #4ea69c5e;
    color: darkcyan;
}
.home-page-link {
    display: inline-block;
    padding: .8rem 1rem;
    background-color: var(--secondary-main-color);
    color: var(--color-secondary);
    font-size: 1rem;
}
.home-content-container {
    font-size: 1.3rem;
    justify-content: center;
    gap: 2rem;
    padding-bottom: .8rem;
    text-align: center;
    align-items: flex-start;
}
.home-content-container h3 {
    margin-bottom: 1.6rem;
}
.home-content-container .item {
    margin-bottom: .4rem;
    color: var(--secondary-main-color);
}
.item:hover {
    color: red;
}
/* media query for root page */
@media screen and (min-width: 776px) {
    .wrapper {
        width: 75%;
        margin: 0 auto
    }
}
/* Styles for breads-container */
.bread-container img {

}
.breads-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bread-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
    padding: .8rem;
    gap: 1.6rem;
}
.bread-container h2 {
    letter-spacing: 1px;
    color:var(--secondary-main-color);
    text-transform: capitalize;
}
.bread-details p {
    width: 50%;
    margin: 0 auto .5rem auto;
    font-size: 1rem;

}
.bread-details a button, .bread-details input[type='submit'] {
    background-color: var(--secondary-main-color);
    padding: .5rem .8rem;
    border: none;
    font-size: 1rem;
    border-radius: 2px;
    transition: all 250ms ease;
    margin-bottom: .8rem;
    color: whitesmoke;
}
.bread-details a button:hover, .bread-details input[type='submit']:hover {
    cursor: pointer;
    background-color: #4ea69c71;
}
/* End of styles for breads container */

/* Form page styles */
.color-highlight {
    color: var(--secondary-main-color);
}
.form-container {
    display: flex;
    flex-direction: column;
    width:  fit-content;
    gap: .8rem;
    font-size: 1.3rem;
    text-align: center;
}
.form-container form {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.form-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.form-group input {
    padding: .2rem;
}
.form-group input[type='submit'] {
    background-color: var(--secondary-main-color);
    border: none;
    color: whitesmoke;
    padding: .5rem .8rem;
    transition: all 200ms ease;
}
.form-group input[type='submit']:hover {
    cursor: pointer;
    background-color: #4ea69c71;
    color: white;
}
#form-submit-btn {
    border-radius: 0px;
}

/* End of form page styles */
/* Baker page */
.baker-container {
    font-size: 1.3rem;
}
.baker-container h2 {
    margin-bottom: .4rem;
}
.baker-container h3 {
    margin-bottom: .2rem;
}
.bakers-bread {
    text-align: center;
}
/* Error page styles */
.err-container {
    font-size: 1.3rem;
}
.err-container a {
    background-color: #4ea671;
    color: whitesmoke;
    display: inline-block;
    margin-top: 1.3rem;
    padding: .8rem 1.4rem;
}